:root{
    --goldensand:#eccc68;
    --orange:#ffa502;
    --limesoap:#7bed9f;
    --ufogreen:#2ed573;
    --coral:#ff7f50;
    --bruschettatomato:#ff6348;
    --frenchskyblue:#70a1ff;
    --clearchill:#1e90ff;
    --wildwatermelon:#ff6b81;
    --watermelon:#ff4757;
    --saturatedsky:#5352ed;
    --brightgreek:#3742fa;
    --peace:#a4b0be;
    --baywharf:#747d8c;
    --white:#ffffff;
    --antiflashwhite:#f1f2f6;
    --grisaille:#57606f;
    --prestigeblue:#2f3542;
    --citylights:#dfe4ea;
    --twinkleblue:#ced6e0;
}